body {
    margin: 0;
}

/*Header*/

h1 {
    text-transform: capitalize;
    vertical-align: top;
    word-spacing: -15px;
    color: #28CDE3;
    text-align: center;
    font-size: 350%;
}

span {
    color: black;
}

.backgruond {
    background-image: url(../img/sobor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 852px;
    width: 100%;
    padding-top: 10%;

}

.backgruond-text {
    text-transform: uppercase;
    color: white;
    text-shadow: 5px 5px 5px #28CDE3;
    font-size: 350%;
    text-align: left;
    margin: 0px 200px 200px 100px;
    width: 700px;
    line-height: 167%;
    padding-top: 50px;


}

.flag {
    height: 388px;
    width: 24px;
    background-image: url(../img/flag.png);
    margin: 0px 1336px 248px 80px;
}

.header2 {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 200%;

}

.lineh2 {
    border-bottom: 4px solid #28CDE3;
    width: 165px;
}

.img {
box-sizing: border-box;
box-shadow: #595050;
margin: 0 auto;
margin-top: 8%;

}

.card {
    width: 20%;
    height: 25%;
    margin-left: 10%;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px #a09898;
    vertical-align: top;
    border: 1px;
    border-radius: 10%;
    
}

.card a {
    text-decoration: none;

} 

.card-header {
    font-size: 200%;
    color: black;
}

.card-header.hover {
    color: aqua;
}

.card-text {
    color: #595050;
    font-size: 180%;
    font-family: Inter;
    text-align: left;
    margin-top: 5%;
    line-height: 200%;  
    padding-bottom: 5%;
    padding-left: 2%;
}

.header3 {
    text-transform: uppercase;
    /* width: 240px; */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 200%;
    text-align: center;
}

.line {
    border-bottom: 4px solid #28CDE3;
    width: 180px;
    margin: 0 auto;
    padding-top: 7px;
}

.heart {
    text-align: center;
}

.button {
    background-size: contain;
    background-color: rgb(0, 130, 205);
    text-transform: uppercase;
    text-align: center;
    width: 430px;
    height: 74px;
    margin: 0 auto;
    margin-bottom: 5%;
    padding-top: 30px;

}

.button span {
    color: white;
    font-size: 200%;

}

.button a {
    text-decoration: none;
}

/*Footer*/
.footer-backgruond {
    background-color: blue;
    height: 465px;
    width: 100%;
}

.footer-title {
    text-transform: capitalize;
    vertical-align: top;
    line-height: 135%;
    word-spacing: -15px;
    color: #28CDE3;
    text-align: center;
    font-size: 350%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.white {
    color: white;
}

.footer-link-mail {
    text-align: center;
    padding-bottom: 1%;
}

.footer-link-mail a {
    /* text-align: center; */
    background-color: blue;
    font-size: 200%;
    color: rgb(10, 10, 10);
    margin-bottom: 1%;
}

.footer-link-tel {
    text-align: center;
    padding-bottom: 4%;
}

.footer-link-tel a {
    background-color: blue;
    font-size: 200%;
    color: rgb(10, 10, 10);
    margin-bottom: 2%;
}

.icon {
    text-align: center;
    word-spacing: 50px;

}